body {
    font-family: 'Segoe UI', sans-serif;
}

.card {
    border-radius: 12px;
}

.navbar-brand {
    font-size: 1.3rem;
}
table {
    margin-bottom: 0 !important;
}

table thead th {
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #f8f9fa;
     border-bottom: 2px solid #dee2e6;
}

table tbody td {
    text-align: center !important;
    vertical-align: middle !important;
}

table th, table td {
    padding: 0.75rem !important;
}
td:has(span.nan) {
    background-color: #ffe5e5;
}
table th {
    background-color: #f8f9fa;
    font-weight: 600;
    text-align: center;
}

table td {
    text-align: center;
}

img {
    max-height: 520px;
}

